<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747190153958-slrc9h2j5ojuvuvegleg065jsborm3n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747190153958-slrc9h2j5ojuvuvegleg065jsborm3n2</string>
	<key>API_KEY</key>
	<string>AIzaSyDw41egDtOCjDbmFi5sPabDjRLLCuEff_o</string>
	<key>GCM_SENDER_ID</key>
	<string>747190153958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolioNerdbug</string>
	<key>PROJECT_ID</key>
	<string>nerdbug-d8ed6</string>
	<key>STORAGE_BUCKET</key>
	<string>nerdbug-d8ed6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747190153958:ios:e47f92df20f43befd90127</string>
</dict>
</plist>